<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Sign in</title>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="public/css/signinStyle.css" />
  </head>
  <body>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img
              src="https://thumbs.dreamstime.com/b/admin-sign-laptop-icon-stock-vector-166205404.jpg"
              class="img-fluid"
              alt="Phone image"
            />
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form action="dashboard" method="post">
              <div
                class="divider d-flex align-items-center justify-content-center my-4"
              >
                <p class="text-center fw-bold mx-3 mb-0">ADMIN LOG IN</p>
              </div>
              <% if(locals.invalid){ %>
                <p class="alert alert-danger mb-3 px-3 py-2" role="alert"><%= locals.invalid %></p>
              <% } %>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="adminEmail"
                  name="adminEmail"
                  class="form-control form-control-lg"
                  value="adminMail@gmail.com"
                />
                <label class="form-label" for="adminEmail">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="adminPassword"
                  name="adminPassword"
                  class="form-control form-control-lg"
                  value="adminPassword"
                />
                <label class="form-label" for="adminPassword">Password</label>
              </div>

              <!-- Submit button -->
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign in" >
            </form>
            <div
              class="divider d-flex align-items-center justify-content-center my-4"
            >
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>

            <a
              class="btn btn-primary btn-lg btn-block"
              style="background-color: #3b5998"
              href="http://127.0.0.1:3000/signup"
              role="button"
            >
              User Sign up
            </a>
            <a
              class="btn btn-primary btn-lg btn-block"
              style="background-color: #55acee"
              href="http://127.0.0.1:3000"
              role="button"
            >
              User Sign in</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
    ></script>
    <script>
      if ( window.history.replaceState ) {
     window.history.replaceState( null, null, window.location.href );
      }
   </script>
  </body>
</html>
